<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  {% load static %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
<body>
<div class="login-box" style="">
  <h1>Login</h1>
  <form class="login-form" method="post">
  {% csrf_token %}
  <div class="textbox">
    <i class="fas fa-user"></i>
    {{form.username.label_tag}}
    {{form.username}}
  </div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    {{form.password.label_tag}}
    {{form.password}}
  </div>
  <br>
  <div>
    <input type="submit" class="btn" style="color:white;" value="Login">
  </div>  
  <br>
  <div>
   <b> Don't Have Account ? &nbsp <a href="" style="color: white;"> <span><u>Sign Up<u></span></a><b>
  </div>
  </form>
</div>
</body>
</html>